{% load static %}
<div class="popular__item" data-modal="Chevrolet Volt Premier 2017">
	<img class="popular__img" src="{% static 'img/volt_11.png'%}" alt="Chevrolet Volt Premier 2017" style="">
	<div class="popular__hide" style="display: none;">
		<div class="popular__block">
			<div class="popular__content">
					<div>
						<span>Стоимость авто на аукционе</span><span>6000$</span>
					</div>
						<div>
						<span>Аукционный сбор</span><span>768$</span>
					</div>
					   <div>
						<span>Комиссия банка за перевод денег в США</span><span>46$</span>
					</div>
					 <div>
						<span>Доверенность на экспедитора</span><span>15$</span>
					</div>
					 <div>
						<span>Предварительная стоимость доставки</span><span>1310$</span>
					</div>
												</div>
			<div class="popular__content">
			   <div>
						<span>Разгрузка в порту</span><span>450$</span>
					</div>
			 <div>
						<span>Таможенный брокер</span><span>400$</span>
					</div>
			<div>
						<span>Растаможка</span><span>2528$</span>
					</div>
			<div>
						<span>Услуги</span><span>500$</span>
					</div>
		   <div>
						<span>Стоимость ремонта</span><span>2750$</span>
					</div>
		  </div>
		</div>
		<div class="popular__block">
			<div>
					<span>Итого</span><span>15267$</span>
				</div>
		<div>
					<span>Получение сертификата ЕВРО-5</span><span>250$</span>
				</div>
		<div>
					<span>Регистрация авто и пенсионный фонд</span><span>236$</span>
				</div>
	 </div>
	</div>
	<div class="popular__info">
		<h3 class="popular__title">Chevrolet Volt Premier 2017</h3>
		<div class="popular__first">
		   <p>15267$</p>
			<p>19500$</p>
										</div>
		<div class="popular__second">
			<p>Цена в Enjoy Cars</p>
			<p>Цена в Украине </p>
										</div>
		<a class="popular__callback js-popup-madel">Хочу такую</a>
	</div>
</div>