{% load static %}
<div class="popular__item" data-modal="Ford Mustang 2018">
    <img class="popular__img" src="{% static 'img/mustang_14.png' %}" alt="Ford Mustang 2018">
    <div class="popular__hide">
        <div class="popular__block">
            <div class="popular__content">
               <div>
                    <span>Стоимость авто на аукционе</span><span>11600$</span>
                </div>
               <div>
                    <span>Аукционный сбор</span><span>838$</span>
                </div>
               <div>
                    <span>Комиссия банка за перевод денег в США</span><span>69$</span>
                </div>
               <div>
                    <span>Доверенность на экспедитора</span><span>15$</span>
                </div>
                 <div>
                    <span>Предварительная стоимость доставки</span><span>1120$</span>
                </div>
                  </div>
		<div class="popular__content">
				<div>
                    <span>Разгрузка в порту</span><span>450$</span>
                </div>
				<div>
                    <span>Таможенный брокер</span><span>400$</span>
                </div>
				<div>
                    <span>Растаможка</span><span>4316$</span>
                </div>
				<div>
                    <span>Услуги</span><span>500$</span>
                </div>
   <div>
                    <span>Стоимость ремонта</span><span>2600$</span>
                </div>
    </div>
    </div>
    <div class="popular__block">
        <div>
                <span>Итого</span><span>22408$</span>
            </div>
        <div>
                <span>Получение сертификата ЕВРО-5</span><span>250$</span>
            </div>
            <div>
                <span>Регистрация авто и пенсионный фонд</span><span>413$</span>
            </div>
        </div>
</div>
<div class="popular__info">
    <h3 class="popular__title">Ford Mustang 2018</h3>
    <div class="popular__first">
         <p>22408$</p>
        <p>32400$</p>
   </div>
    <div class="popular__second">
           <p>Цена в Enjoy Cars</p>
            <p>Цена в Украине </p>
    </div>
    <a class="popular__callback js-popup-madel">Хочу такую</a>
    </div>
</div>